<div class="container-fluid card login-container">
  <h3 class="text-center">Login</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
    <p *ngFor="let msg of errorMessage">{{msg}}</p>
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email Address</label>
    <input [(ngModel)]="authRequest.email"  type="email" id="login" class="form-control" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Password</label>
    <input [(ngModel)]="authRequest.password"  type="password" id="password" class="form-control" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="login()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Sign In</em>
    </button>
    <div>
      Dont have an account?&nbsp;
      <button (click)="register()" type="button" class="btn btn-link">
        &nbsp;Register
      </button>
    </div>
  </div>
</div>
